.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 5px;
}

.square {
  background-color: lightgray;
  aspect-ratio: 1;
}

.hover {
  background-color: black;
}
